{% load static %}
{{ data|json_script:"data" }}
<script>
	data = JSON.parse(document.getElementById('data').textContent)
</script>
{% if debug %}
<script src="{% static 'js/cookies.js' %}"></script>
<script src="{% static 'js/static-list.js' %}"></script>
<script src="{% static 'js/collapsible-list.js' %}"></script>
<script src="{% static 'js/map-list.js' %}"></script>
<script src="{% static 'js/image-carousel.js' %}"></script>
<script src="{% static 'js/main-app-bar.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% else %}
<script src="/js/cookies.js"></script>
<script src="/js/static-list.js"></script>
<script src="/js/collapsible-list.js"></script>
<script src="/js/map-list.js"></script>
<script src="/js/image-carousel.js"></script>
<script src="/js/main-app-bar.js"></script>
<script src="/js/index.js"></script>
{% endif %}