{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
<script>
	data = {{ data }}
</script>
<script>
	component_name = 'image-carousel';
</script>
<div id="app">
	<!-- vue code will be placed here -->
</div>
{% if debug %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/image-carousel.js' %}"></script>
<script src="{% static 'js/main-app-bar.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% else %}
<script src="home.js"></script>
<script src="image-carousel.js"></script>
<script src="main-app-bar.js"></script>
<script src="index.js"></script>
{% endif %}
{% endblock %}